body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
    font-family: 'eyesome-duo-script';
    src: url('resources/fonts/eyesome-duo-script.otf') format('otf'),
         url('resources/fonts/eyesome-duo-script.ttf') format('ttf'),
         url('resources/fonts/eyesome-duo-script.woff') format('woff'),
         url('resources/fonts/eyesome-duo-script.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
